/* Caleb Johnson
CIS 1610 and 1408 
Final Project
*/
.accordion{
  max-width: 600px;
  padding: 20px;
}

.accordion-item{
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
}

.item-header{
  padding: 14px 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.title{
  font-size: 20px;
  font-weight: 600;
}
h1.title {
	color: #D4AF37;
}
	
.icon{
  width: 28px;
  height: 28px;
  border: 2px solid #000;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 25px;
  color: #D4AF37;
}

.text{
  color: #D4AF37;
  padding: 0 6px;
  max-height: 0;
  overflow: hidden;
}

.accordion-item.active .text{
  max-height: 600px;
  transition: .4s linear;
}